
<h1>Pacientes</h1>

<!--!<app-pacienteform></app-pacienteform>
-->
<div class="formul">
  <form
  class="form"
  [formGroup]="formulario"
  (ngSubmit)="guardar();"


  >
  <div class="container d-flex flex-row">

    

  <div>
    <label for="nombre">Nombre:</label>
    <input
    type="text"
    name="nombre"
    formControlName = "nombre"
    >
  </div>

  <div>
  <label for="telefono">Telefono:</label>
  <input
    type="tel"
    name="telefono"

    formControlName = "telefono"
  >

  </div>
  <div>
  <label for="correo">Correo:</label>
  <input
  type="email"
  name="correo"
  placeholder="example@.correo.com"
  formControlName = "correo"
  >
  </div>
</div>

<div >
  <button
    type="submit"
    class="  btn btn-outline-success m-1"
    ><i class="fa-solid fa-user-plus"></i> Guardar</button>
</div>

</form>
</div>





<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Telefono</th>
      <th scope="col">correo</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let paciente of pacientes let i = index "  >
      <th scope="row">{{i + 1}}</th>
      <td>{{paciente.nombre}}</td>
      <td>{{paciente.telefono}}</td>
      <td>{{paciente.correo}}</td>
      <td class="d-flex gap-1 justify-content-center p-1" >



        <button type="button" class="btn btn-outline-danger"
          ngbTooltip="Eliminar"
          tooltipClass="my-custom-class"
          (click)="eliminar(paciente.id)">
          <i class="fa-solid fa-trash"></i>
        </button>
        <button
          class=" btn btn-outline-success "
          ngbTooltip="Modificar"
          tooltipClass="my-custom-class"
          (click)="modificarPaciente(paciente.id)"
          >

          <i class="fa-regular fa-pen-to-square"></i>
        </button>
      </td>
    </tr>


  </tbody>
</table>

