<div>
  <header>
    <h3>Opticol</h3>
  </header>

  <nav>
    <ul>
      <li><a routerLink="pacientes"><i class="fa-solid fa-users"></i> Pacientes</a></li>
      <li><a routerLink="citas"><i class="fa-regular fa-calendar-days"></i> Citas</a></li>
      <li><a routerLink="formPaciente"><i class="fa-solid fa-user-pen"></i> Agregar Pacientes</a></li>
      <li><a routerLink="inicio"><i class="fa-solid fa-arrow-left"></i> salir</a></li>
    </ul>
  </nav>

  <!--<app-side-bar></app-side-bar>-->
  <main>


    <router-outlet></router-outlet>
  </main>
</div>
