
<form
  class="form"

  [formGroup]="formulario"
  (ngSubmit)="guardar()"
  >
  <div class="container d-flex flex-row">
  <div>
    <label for="nombre">Nombre:</label>
    <input
    type="text"
    name="nombre"
    formControlName = "nombre"
    >
  </div>

  <div>
  <label for="telefono">Telefono:</label>
  <input
    type="tel"
    name="telefono"

    formControlName = "telefono"
  >

  </div>
  <div>
  <label for="correo">Correo:</label>
  <input
  type="email"
  name="correo"
  placeholder="example@.correo.com"
  formControlName = "correo"
  >
  </div>
</div>

<div >
  <button
    type="submit"
    class="  btn btn-outline-success m-1"
    ><i class="fa-solid fa-user-plus"></i> Crear Paciente</button>
</div>
</form>

