.section{
    height: auto;
    background: linear-gradient(180deg, rgba(127, 228, 240, 0) 0%, #7FE4F0 100%);
    padding-top: 10pt;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 40pt;
    padding-right: 40pt;
    
}

.titulo{

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;

    /* c.secundario-hover */

    color: #1E87FD;

}

.navbar-brand{
    color:#8B80F8 ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    
}
.card{
    padding-top: 10pt ;
}
h1{
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */


    align-items: center;

    /* c.texto-secundario */

    color: #4C5A81;
}
.mapouter {
    position: relative;
    text-align: right;

}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: fit-content;
    height: 400px;
}

.gmap_iframe {
    width: 900px !important;
    height: 400px !important;
}
