<div class="container text-center mt-5">
    <div>
        <h1>Lo que piensan nuestros pacientes</h1>
    </div>
</div>
<div class="container contenedor">

    <ul class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm">
        <li>
            <img src=".\assets\img\review1.jpg" class="wpx-100 img-round mgb-20" title=""
                alt="" data-edit="false" data-editor="field"
                data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">
                    Martha Arango
                </h5>
                <ul class="mb-2 d-flex justify-content-center list-unstyled">
                    <li><i class="fas fa-star fa-sm text-primary text-theme me-1"></i></li><li><i class="fas fa-star fa-sm text-primary text-theme me-1"></i></li><li><i class="fas fa-star fa-sm text-primary text-theme me-1"></i></li><li><i class="fas fa-star fa-sm text-primary text-theme me-1"></i></li><li><i class="fas fa-star fa-sm text-primary text-theme me-1"></i></li>
                </ul>
            <p class="fs-110 font-cond-l" contenteditable="false">"Con alma, con calidad, su excelente atención hace que nosotros como pacientes nos sintamos seguros y depositemos la confianza en los profesionales. Gracias por su calidad humana y por su excelencia."</p>
        </li>
        <li>
            <img src=".\assets\img\review2.jpg" class="wpx-100 img-round mgb-20" title=""
                alt="" data-edit="false" data-editor="field"
                data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">
                    Juan Osorio
                </h5>
                <ul class="mb-2 d-flex justify-content-center list-unstyled">
                    <li><i class="fas fa-star fa-sm text-primary text-theme me-1"></i></li><li><i class="fas fa-star fa-sm text-primary text-theme me-1"></i></li><li><i class="fas fa-star fa-sm text-primary text-theme me-1"></i></li><li><i class="fas fa-star fa-sm text-primary text-theme me-1"></i></li><li><i class="fas fa-star fa-sm text-primary text-theme me-1"></i></li>
                </ul>
            <p class="fs-110 font-cond-l" contenteditable="false">"Es una gran página, presta servicios de salud de muy calidad y cuenta con personal con excelente calidad humana y con especialistas altamente calificados, además de ser confiable y con muy buena atención con sus pacientes."</p>
        </li>
        <li>
            <img src=".\assets\img\review3.jpg" class="wpx-100 img-round mgb-20" title=""
                alt="" data-edit="false" data-editor="field"
                data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">
                    Daniel Cardona
                </h5>
                <ul class="mb-2 d-flex justify-content-center list-unstyled">
                    <li><i class="fas fa-star fa-sm text-primary text-theme me-1"></i></li><li><i class="fas fa-star fa-sm text-primary text-theme me-1"></i></li><li><i class="fas fa-star fa-sm text-primary text-theme me-1"></i></li><li><i class="fas fa-star fa-sm text-primary text-theme me-1"></i></li><li><i class="fas fa-star fa-sm text-primary text-theme me-1"></i></li>
                </ul>
            <p class="fs-110 font-cond-l" contenteditable="false">"Los amigos que he recomendado han salido satisfechos por la calidad del servicio, la tecnología y el equipo humano."</p>
        </li>
        
    </ul>
</div>