<section class="section">
    <div class="container text-center mt-5 back-image">
        <div>
            <h1>Cuida tu visión y solicita tu cita oftalmológica</h1>
        </div>
        <div class="row mt-3">
            <!-- columna -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 col-container">
                <div class="card ">
                    <img src="https://img.freepik.com/vector-premium/ilustracion-vectorial-gafas-sol-lentes-azules-montura-plastico-rojo_501907-518.jpg?w=2000" class="card-img-top"
                        alt="Fissure in Sandstone" />
                    <div class="card-body ">
                        <h5 class="card-title titulo">Ojos Seguros Siempre</h5>
                        <p class="card-text parrafo">Contamos con profesionales que te orientaran y ayudaran en todo momento. </p>
                    </div>
                </div>
            </div>
            <!-- columna -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 col-container">
                <div class="card ">
                    <img src="https://i.pinimg.com/736x/b0/17/83/b01783b5d379b73320ecbbdb743f8ce1.jpg" class="card-img-top"
                        alt="Fissure in Sandstone" />
                    <div class="card-body ">
                        <h5 class="card-title titulo">Somos especialistas en el cuidado visual</h5>
                        <p class="card-text parrafo">contamos con el catálogo de gafas oftálmicas, gafas de sol y lentes de contacto más completo del mercado. ¡Compra aquí tu par favorito de gafas! </p>
                    </div>
                </div>
            </div>
            <!-- columna -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 col-container">
                <div class="card ">
                    <img src="https://img.freepik.com/vector-premium/ilustracion-vectorial-oftalmologo-cuadro-agudeza-visual_115560-5.jpg" class="card-img-top"
                        alt="Fissure in Sandstone" />
                    <div class="card-body ">
                        <h5 class="card-title titulo">Cuidados profesionales, servicios profesionales</h5>
                        <p class="card-text parrafo">Sabemos que en tus compras por internet siempre buscas confianza, por eso tenemos el ecosistema completo para que tus lentes de contacto lleguen de manera rápida y óptima a todo el país.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>